{% extends 'base.html.twig' %}

{% block title %}Products!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 style="text-align: center;">{{ controller_name }}!✅</h1>
    
    <br>
    <br>

    <div class="row">
        {% for product in products %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="{{product.image}}"
                        alt="{{product.name}}" width="500">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.price}} €</p>
                        <a href="{{ path('product_show',{id:product.id,slug:product.slug})}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
